<app-banner y="Teams"></app-banner>

<app-teams-table></app-teams-table>
<div class="col3">
    <!-- <form name="form" (ngSubmit)="search()" #searchForm="ngForm">
        <div class="form-group">
            <label>Search by st (team one or team two) </label>
            <input type="text" id="staduimToSearch" class="form-control" name="staduim" [(ngModel)]="obj.staduim" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary py-3 px-5" value="Search">
        </div>
    </form> -->

</div>