<div class="site-section container">
    <div class="col-lg-12">

        <div class="widget-next-match">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>id</th>

                        <th> Name</th>
                        <th>age</th>
                        <th>position</th>
                        <th>number</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- t: objet // teams: tableau d objet -->
                    <tr>
                        <!-- variable {{}} -->
                        <td>{{K._id}}</td>

                        <td><strong class="text-white">{{K.name}}</strong></td>
                        <td>{{K.age}}</td>
                        <td>{{K.position}}</td>
                        <td>{{K.number}}</td>
                    </tr>



                </tbody>
            </table>
        </div>

    </div>
</div>