<div class="site-section container">
    <div class="col-lg-12">

        <div class="widget-next-match">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>id</th>

                        <th>Team Name</th>
                        <th>owner</th>
                        <th>Foundation</th>
                        <th>studuim</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- t: objet // teams: tableau d objet -->
                    <tr>
                        <!-- variable {{}} -->
                        <td>{{K._id}}</td>

                        <td><strong class="text-white">{{K.name}}</strong></td>
                        <td>{{K.owner}}</td>
                        <td>{{K.fondation}}</td>
                        <td>{{K.staduim}}</td>
                    </tr>



                </tbody>
            </table>
        </div>

    </div>
</div>